@import "tailwindcss";
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-yellows: #f2b90c;
  --color-background: #1d1e26;
  --color-oranges: #955120;
  --color-white: #fff;
  --font-Rale: "Raleway", "sans-serif"; 
  --breakpoint-*: initial;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
}

* {
  
  box-sizing: border-box;
  font-family: "Orelega One", serif;
}
body {
  background: var(--color-background);
  scroll-behavior: smooth;

}
a.active {
  text-decoration: underline;
  text-decoration-color: var(--color-yellows);
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  
}

